<html>
    <head>
        <title>Animal Facts!</title>
        <style>
            body {
                background-color: #f9faff;
                text-align: center;
            }

            .fact {
                background-color: #fffff6;
                border: 1px solid black;
                text-align: center;
                font-size: 2em;
                padding: 5em;
                margin: 10vh auto 10px auto;
                width: 35%;
            }
        </style>
    </head>
    <body>
        <div class="fact">{{ fact }}</div>
        <a href="/">Click here to see another animal fact.</a>
    </body>
</html>
